<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="dbTable_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dbmetadata"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="dbTable">
            <entry key="database" type="xstring" value=""/>
            <entry key="schema" type="xstring" value="geo"/>
            <entry key="table" type="xstring" value="master_rnsc"/>
        </config>
        <config key="whereColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="id_pnn"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="25"/>
                <entry key="0" type="xstring" value="nombre"/>
                <entry key="1" type="xstring" value="categoria"/>
                <entry key="2" type="xstring" value="territoria"/>
                <entry key="3" type="xstring" value="resolucion"/>
                <entry key="4" type="xstring" value="hectareas_"/>
                <entry key="5" type="xstring" value="escala"/>
                <entry key="6" type="xstring" value="organizaci"/>
                <entry key="7" type="xstring" value="fecha_act"/>
                <entry key="8" type="xstring" value="url"/>
                <entry key="9" type="xstring" value="wkid"/>
                <entry key="10" type="xstring" value="centroid_x"/>
                <entry key="11" type="xstring" value="centroid_y"/>
                <entry key="12" type="xstring" value="fecha_regi"/>
                <entry key="13" type="xstring" value="validado"/>
                <entry key="14" type="xstring" value="hectareas0"/>
                <entry key="15" type="xstring" value="perimetro_"/>
                <entry key="16" type="xstring" value="administra"/>
                <entry key="17" type="xstring" value="record_id"/>
                <entry key="18" type="xstring" value="app_id"/>
                <entry key="19" type="xstring" value="IGAC servicio de consulta de coordenadas y alturas"/>
                <entry key="20" type="xstring" value="departamento"/>
                <entry key="21" type="xstring" value="municipio"/>
                <entry key="22" type="xstring" value="msnm"/>
                <entry key="23" type="xstring" value="cod_depto"/>
                <entry key="24" type="xstring" value="cod_municipio"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="setColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="5"/>
                <entry key="0" type="xstring" value="departamento"/>
                <entry key="1" type="xstring" value="municipio"/>
                <entry key="2" type="xstring" value="msnm"/>
                <entry key="3" type="xstring" value="cod_depto"/>
                <entry key="4" type="xstring" value="cod_municipio"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="21"/>
                <entry key="0" type="xstring" value="nombre"/>
                <entry key="1" type="xstring" value="categoria"/>
                <entry key="2" type="xstring" value="territoria"/>
                <entry key="3" type="xstring" value="resolucion"/>
                <entry key="4" type="xstring" value="hectareas_"/>
                <entry key="5" type="xstring" value="escala"/>
                <entry key="6" type="xstring" value="organizaci"/>
                <entry key="7" type="xstring" value="fecha_act"/>
                <entry key="8" type="xstring" value="url"/>
                <entry key="9" type="xstring" value="wkid"/>
                <entry key="10" type="xstring" value="centroid_x"/>
                <entry key="11" type="xstring" value="centroid_y"/>
                <entry key="12" type="xstring" value="fecha_regi"/>
                <entry key="13" type="xstring" value="validado"/>
                <entry key="14" type="xstring" value="hectareas0"/>
                <entry key="15" type="xstring" value="perimetro_"/>
                <entry key="16" type="xstring" value="administra"/>
                <entry key="17" type="xstring" value="id_pnn"/>
                <entry key="18" type="xstring" value="record_id"/>
                <entry key="19" type="xstring" value="app_id"/>
                <entry key="20" type="xstring" value="IGAC servicio de consulta de coordenadas y alturas"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="knime_to_external_mapping_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dataTypeMapping"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="knime_to_external_mapping"/>
        <config key="batchSize_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="batchSize" type="xint" value="1000"/>
        <config key="failOnError_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="failOnError" type="xboolean" value="true"/>
        <config key="showStatus_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showStatus" type="xboolean" value="true"/>
        <config key="disableDbDataPort_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="disableDbDataPort" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.database.node.io.update.DBUpdateNodeFactory"/>
    <entry key="node-name" type="xstring" value="DB Update"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.2.v202403061155"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.2.2.v202403061155"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="DB Update"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 12, Cols: 16"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.database.port.DBDataPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.database.port.DBDataPortObject"/>
            <entry key="port_object_summary" type="xstring" value="PostgreSQL 8d283366-0926-4198-9c9a-cf04a64fa85f"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="f919ab20-fc6d-45b6-b988-a800cf14367b"/>
    </config>
</config>
